@{
    ViewData["Title"] = "Home Page";
}
@section Styles{
    <style>
        h1 {
            background-color: lightgray;
        }
    </style>
}
<div class="text-center">
    <h1 id="myh" class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <button id="btn1" class="btn-primary">Click1</button>
</div>
@section Scripts{
    <script>
        let btn = document.querySelector("#btn1");
        let myh = document.querySelector("myh");
        var emps = {
            "employees": [
                { "name": "Tom", "workYears": 3, "salary": 35000 },
                { "name": "Jack", "workYears": 5, "salary": 40000 },
                { "name": "Mary", "workYears": 7, "salary": 45000 }
            ]
        };
        btn.addEventListener('click', () => {
            for (let i = 0, max = emps.employees.length; i < max; i++) {
                console.log(emps.employees[i].name)
                console.log(emps.employees[i].workYears)
                console.log(emps.employees[i].salary)
            }
        })
        //ES6
        //emp.employees.forEach(employee => {
        //    //解構賦值(Destructuring assignment)
        //    const { name, workYears, salary } = employee
        //    console.log(name)
        //    console.log(workYears)
        //    console.log(salary)
        //})
        //jQuery
        $('#buttonClick').click(() => {
            var emp = {
                "employees": [
                    { "name": "Tom", "workYears": 3, "salary": 35000 },
                    { "name": "Jack", "workYears": 5, "salary": 40000 },
                    { "name": "Mary", "workYears": 7, "salary": 45000 }
                ]
            };
            $(this).each(emp.employees, (idx, employee) => {
                //console.log(idx)
                const { name, workYears, salary } = employee
                console.log(name)
                console.log(workYears)
                console.log(salary)
            })
        })
    </script>
} 